.three-component {
    padding: 5vh 5vw;
    overflow: hidden;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 5px #ffffff, 0 0 2px #ffffff, 0 0 10px #ffffff;
    width: auto;
    font-size: clamp(1rem, 4vw, 2.5rem);
}