.profile {
    padding: 5vh 5vw;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 5px #ffffff, 0 0 2px #ffffff, 0 0 10px #ffffff;
}

.profile h1 {
    width: auto;
    font-size: clamp(1rem, 4vw, 2.5rem);
}