body,
html,
.app {
  margin: 0;
  width: 100%;
  height: 100%;
}

.app {
  touch-action: pan-up;

  /* this is global text as of now  */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 5px #ffffff, 0 0 2px #ffffff, 0 0 10px #ffffff;
  font-size: clamp(1rem, 4vw, 2.5rem);

  /*  */
}